@import "colors";

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


// page layout design
.page-container {

    .page-content {
        background-color: $tertiaryColor;
    }

    .sidebar {
        background-color: $secondary;
    }

    .content {
        background-color: $tertiaryColor;
        padding: .5rem;
    }
}

// login page styles
.login-container {
    background-color: $tertiaryColor;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        width: 30rem;
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 2rem;
    }
}

// sidebar styles
.sidebar {
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    
    .list-group-item {
        background-color: $secondary;
        width: 100%;
        color: $tertiaryColor;
        border-bottom-color: $tertiaryColor;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & .nav-link {
            margin-left: 5px;
        }
        
        &:last-child {
            width: 100%;
            position: absolute;
            text-align: center;
            bottom: 1rem;
            
            & .btn {
                // background-color: $primary;
                border-radius: 40px;
                padding: .5rem 5rem;
            }
        }
    }
}

// topnav styles
.top-nav {
    background-color: $secondary;
    padding: 1rem;
    .title {
        color: $tertiaryColor;
        font-weight: 500;
        text-align: center;
    }
}

// page header styles
.page-header {
    border-bottom: 2px solid $secondary;
    border-radius: 2px;

    .header {
        font-size: 2rem;
    }
}

// card styles
.my-card {
    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            font-size: 2rem;
        }
    }

    .link-container {
        display: flex;
        justify-content: flex-end;

        .nav-link {
            font-size: 1rem;
            color: $secondary;
            border: .4px solid $secondary;
            padding: 1px 8px ;
            border-radius: 5px;
            transition: all .35s ease-in-out;

            &:hover {
                background-color: $secondary;
                color: $tertiaryColor;
            }
        }
    }
}

.my-btn {
    background-color: $secondary !important;
    padding: .2px 2px;
    float: right;
    margin-right: 2px;
    margin-top: 3px;
    color: $tertiaryColor;
}

// dashboard page design
.dashboard-container {
    // background-color: $primary;
}

// account page styles
.account-container {
    .form-container {
        
    }
}

// * customers page styles
.customers-container {
    .form-container {
        border-radius: 5px;
    }
}